header.brand-logo {
    background: url("/images/bg-header-mobile.png");
    background-size: cover;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        margin: 0 auto;
        animation: logo-spinner 1s 0.5s both;

        @keyframes logo-spinner {
           100% {transform: rotate(360deg)}
        }
    }
}

header.download-links {
    h1 {
        @include set-container;
        @include set-h1;
    }
    p {
        @include set-container;
        @include set-p;
    }

    div.links {
        @include set-container;
        overflow: hidden;

        a:first-of-type {
            display: block;
            font-family: $font;
            font-weight: 600;
            text-align: center;
            padding: 15px 0;
            margin-bottom: 15px;
            border-radius: 6rem;
            background-color: $green;
            color: white;
            box-shadow: 0 5px 5px rgba($green, $alpha: 0.5);
            transition: 0.5s;
            animation: header-links-slider-left 0.9s 1.1s both;

            &:hover {
                background-color: hsla(171, 66%, 44%, 0.7);
            }
            @keyframes header-links-slider-left {
                from {
                    transform: translateX(-100vw);
                }
                to {
                    transform: translateX(0);
                }
            }
        }

        a:last-of-type {
            @extend a:first-of-type;
            background-color: $blue;
            box-shadow: 0 5px 5px rgba($blue, $alpha: 0.5);
            animation: header-links-slider-right 0.9s 1.1s both;

            &:hover {
                background-color: hsla(233, 100%, 69, 0.7);
            }

            @keyframes header-links-slider-right {
                from {
                    transform: translateX(100vw);
                }
                to {
                    transform: translateX(0);
                }
            }
        }
    }
}
