header.logo{
    background: url("/images/bg-header-mobile.png"); 
    background-size: cover;
    padding: 60px; //fix it

    img{
        display: block;
        margin: 25px auto;
    }
}

header.para{
    h1 {
        @include set-container; //change margin bottom for desktop;
        @include set-h1;
    }
    p {
        @include set-container;
        @include set-p;
    }

    div.links {
        @include set-container;

        a:first-of-type{
            display: block;
            font-family: $font;
            font-weight: 600;
            text-align: center;
            padding: 15px 0;
            margin-bottom: 20px;
            border-radius: 6rem;
            background-color: $green;
            color: white;
            box-shadow: 0 5px 5px rgba($green, $alpha: .5);
            transition: .5s;

            &:hover {
                background-color:hsla(171, 66%, 44%,.7);
            }
        }

        a:last-of-type{
            @extend a:first-of-type;
            background-color: $blue;
            box-shadow: 0 5px 5px rgba($blue, $alpha: .5);

            &:hover {
                background-color:hsla(233, 100%, 69,.7);
            }
        }

    }
}