@media screen and (min-width: 600px) {
    header.brand-logo {
        background-image: url("/images/bg-header-desktop.png");
        height: 25rem;
    }
    header.download-links {
        div.links {
            display: flex;
            justify-content: space-around;
            max-width: 900px;

            a:first-of-type {
                flex-basis: 40%;
                max-width: 300px;
            }
            a:last-of-type {
                flex-basis: 40%;
                max-width: 300px;
            }
        }
    }

    .image-para {
        @include set-container;

        display: flex;
        justify-content: space-between;

        img {
            width: 50%;
            object-fit: contain;
        }

        .paragraph-block {
            width: 45%;
            margin-top: 0;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .paragraph-container {
                margin-bottom: 0;
                max-width: 350px;

                h2,
                p {
                    text-align: left;
                }
            }
        }
    }

    section.details {
        display: flex;
        justify-content: space-between;

        div.details-paragraph {
            flex-basis: 30%;
        }
    }

    section.companies-logo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            margin-bottom: 0;
            width: 16%;
            max-width: 150px;
        }
    }

    footer {
        div.footer-container {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            div.footer-links {
                flex-basis: 15%;

                a {
                    text-align: left;
                    width: fit-content;
                }

                &:last-of-type {
                    margin: 0;
                    flex-basis: 16%;
                    a {
                        height: fit-content;
                    }
                }

                &:first-of-type {
                    flex-basis: 20%;
                }
            }

            div.footer-image {
                img {
                    width: 50%;
                }
            }
        }
    }
}
